*{
padding: 0;
margin: 0;
font-family: 'Poppins', sans-serif;
box-sizing: border-box;
background-color: black;
color: white;
}
#header{
width: 100%;
height: 100vh;
}
.container{
padding: 10px 10px;
}
nav{
display: flex;
justify-content: space-around;
position: fixed;
}
.logo{
width: 140px;
}
nav ul li{
display: inline-block;
list-style: none;
margin: 10px 20px;
position: sticky;
top: 0;
}
nav ul li a{
color: rgb(255, 252, 252);
text-decoration: none;
font-size: 18px;
position: relative;
}
nav ul li a::after{
content: '';
width: 0;
height: 3px;
background:rgb(255, 0, 187) ;
position: absolute;
left: 0;
bottom: -6px;

}
nav ul li a:hover::after{
width: 100%;
}
nav ul li a:hover {
color: rgb(255, 0, 187);
}
.header-text{
margin-top: 15%;
font-size: 30px;
}
.header-text h1{
font-size: 60px;
margin: 20px;
}
.content{
  margin-top: 25%;
}
.content h1{
  font-size: clamp(1rem, 2rem + 5vw, 3rem);
}

.content h1 span{
  color: rgb(255, 0, 187);
  text-shadow: 0 0 10px rgb(255, 0, 187);
}

.content .typewriter{
  font-weight: 600;
  font-size: clamp(1rem, 1rem + 5vw, 2rem);
}

.content .typewriter span{
  color:rgb(255, 0, 187);
  font-size: 2.5rem;
  text-shadow: 0 0 5px rgb(255, 0, 187);
  position: relative;
  transition: 0.3s linear;
}

.typewriter span::before{
  content: "Developer";
  animation: words 15s infinite;
}

.typewriter span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid rgb(255, 255, 255);
  animation:  cursor 0.6s linear infinite;
}

@keyframes cursor {
  to{
      border-left: 3px solidrgb(255, 0, 187);
  }
}

@keyframes words {
  0%, 33%{
      content: "Developer";
  }
  34%, 66%{
      content: "Designer";
  }

}

.content p{
  font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
  margin: 10px 0;
}

/*-------------------------------------about----------------------*/
#about{
padding: 80px 0;
}
.row{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.sub-title{
color:  rgb(255, 0, 187);
text-align: center;
}
.tab-titles{
display: flex;
margin: 20px 0 40px;
}
.tab-links{
margin-right: 50px;
font-size: 18px;
font-weight: 500;
cursor: pointer;
position: relative;
}
.tab-links::after{
content: '';
width: 0;
height: 3px;
background: rgb(255, 0, 187) ;
position: absolute;
left: 0;
bottom: -8px;
transition: 0.5s;
}
.tab-links.active-link::after{
width: 50%;
}
.tab-contents ul li{
list-style: none;
margin: 10px 0;
}
.tab-contents ul li span{
color:  rgb(255, 0, 187);
font-size: 14px;
}
.tab-contents{
display: none;
}
.tab-contents.active-tab{
display: block;
}
/*---------------SKILLS-------*/
.title{
font-size: 60px;
font-weight: 600;
color:  rgb(255, 0, 187);
text-align: center;
padding: 1rem;
position: relative;          
}
.skills{
padding-top: 20px;
}

.title:after{
content: '';
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
height:4px;
width: 100px;
}
.skill .col-3 {
color: rgb(255, 0, 187);
text-align: center;
opacity: 0; 
transform: translateY(30px); 
animation: slideUp 1s ease-in-out forwards;
animation-delay: 0.3s;
}
.skill .col-3:nth-child(1) {
  animation-delay: 0.5s; 
}
.skill .col-3:nth-child(2) {
  animation-delay: 0.7s;
}
.skill .col-3:nth-child(3) {
  animation-delay: 0.9s;
}
.skill .col-3:nth-child(4) {
  animation-delay: 1.1s;
}
.col-3:hover h3 {
  color: rgb(255, 255, 255);
  transform: translateY(-5px); 
  transition: transform 0.2s ease-in-out;
}
.col-3:hover p {
  color: rgb(255, 0, 187);
  transition: color 0.2s ease-in-out;
}
/*-------works---------------------*/
.work-titles{
display: flex;
text-align: center;            
justify-content: space-around;
}
.tab-contents h3{
color: rgb(255, 0, 187);
}
.works {
                    display: flex;
                    align-items: center;

}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: rgb(255, 0, 187);;
  color: black;
  box-shadow: 0 0 10px rgb(255, 0, 187);;
}

/*------------contact------------------------*/
.contact-left{
flex-basis: 35%;
}
.contact-right{
flex-basis: 60%;
}
.contact-left p{
margin-top: 30px;
}
.contact-left p i{
color: rgb(255, 0, 187);
margin-right: 15px;
font-size: 25px;
}
.social-icons{
                    margin-top: 30px;
}
.social-icons a{
                    text-decoration: none;
                    font-size: 30px;
                    margin-right: 15px;
                    color: antiquewhite;
                    transition: transform 0.5s;
display: inline-block;
}
.social-icons a:hover{
                    color: rgb(255, 0, 187);
                    transform: translateY(-5px);
}
